*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}


.content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr))
}
.about-wrapper{
    border: 3px solid black;
    padding: 1rem;
    border-radius: 15px;
    max-width: 800px;
    margin: 25px auto 25px auto;
}
.about-wrapper p{
    margin-top: 10px;
    font-size: 1rem;
}

.skills-wrapper, .contact-wrapper{
    padding: 1rem 1.5rem;
}
.skills-wrapper ul, .contact-wrapper ul{
    margin-left: 25px;
}

.portfolio-wrapper a{
    margin-left:20px;
}



body{
    width: 100%;
    padding: 1rem 2rem;
}


@media (max-width: 1080px) {
    .content-wrapper .contact-wrapper ul li a{
        display: block;
    }
}
@media (max-width: 600px){
    .content-wrapper{
        grid-template-columns: 1fr;
    }
}
